
 #contact-link {
    background: rgb(199, 195, 195);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    } 

    .scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #007BFF;
      color: #ffffff;
      border-radius: 10%;
      padding: 10px;
      cursor: pointer;
      font-size: 50px;
      z-index: 999;
    }
    
    /* 向上懸浮標 */
    .scroll-to-top-2 {
      position: fixed;
      bottom: 105px;
      right: 20px;
      background-color: #007BFF;
      color: #fff;
      border-radius: 10%;
      padding: 10px;
      cursor: pointer;
      font-size: 48px;
      z-index: 999;
    }
    
    /* 向上懸浮標 */
    .scroll-to-top-3 {
      position: fixed;
      bottom: 190px;
      right: 20px;
      background-color: #007BFF;
      color: #fff;
      border-radius: 10%;
      padding: 10px;
      cursor: pointer;
      font-size: 50px;
      z-index: 999;
    }

.scroll-to-top-3:hover {

  color: #fff;

}
/* 
新添加的表格样式 */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
}

.custom-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.container {
  max-width: 99%;
  margin: 0 auto;
  padding: 20px;
}

h1.bic {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
  color: #777777;
}

td.oz{
  color: #b20ea1;
}

td.oc{
  color: #05bc29;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.top-three {
  font-weight: bold;
  font-size: 22px;
  background-color: #ffed8863;
}

.top-three .fa-trophy {
  color: #ffd700;
  margin-right:10px ;
}

.top-three .fa-medal {
  color: #c0c0c0;
  margin-right:10px ;
}

.top-three .fa-award {
  color: #b87333;
  margin-left: 2px;
  margin-right:11px ;
}

@media (max-width: 768px) {
  .top-three {
    font-size: 20px;
  }
  table {
    font-size: 18px;
  }
}

/* CSS样式文件中添加以下内容 */
.feedback-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-card {
  width: 32.5%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
  position: relative; /* 添加相对定位 */
  font-weight: bold;
}

.feedback-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 元素上下对齐 */
    margin-bottom: 8%;
    margin-top: 5%;
}

.feedback-company {
    left: 10px;
    margin-bottom: 10px;
}

.feedback-date {
    right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
}

/* 媒体查询，屏幕宽度小于768px时，卡片每行显示1个，宽度为98% */
@media (max-width: 768px) {
  .feedback-card {
      width: 98%;
  }
}

/* 样式化折叠面板 */

.add-qa-button {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
  margin-left: 20px; /* 调整按钮与标题之间的间距 */
  background-color: #009900; /* 绿色背景色 */
  color: #fff;
  width: 10%;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.add-qa-button:hover {
  color: #ffffff; 
  background-color: #01b001; /* 绿色背景色 */
}

.edit-buttons {
  text-align: center;
  margin-top: 20px;
}

.edit-button,
.cancel-button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.edit-button {
  background-color: #4CAF50;
  color: #fff;
  width: 40%;
  margin-right: 10%;
  text-align: center; /* 让按钮水平居中 */
  margin-top: 10px; /* 调整按钮与内容之间的间距 */
}

.cancel-button {
  background-color: #FF5733;
  color: #fff;
  width: 40%;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 99%;
  margin: 0 auto; /* 居中 */
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.accordion-button {
  background-color: #7bbafd;
  color: #fff;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  outline: none;
}

.accordion-content {
  margin-top: 5%;
  border-radius: 5px;
  display: none;
  padding: 10px;
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

/* 折叠面板展开样式 */
.accordion-item.active .accordion-content {
  display: block;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .accordion {

    max-width: 99%;

  }
  .accordion-button {
    font-size: 20px;
  }
  .accordion-content {
    font-size: 20px;
  }
  .add-qa-button {
    font-size: 20px;
    width: 100px;
  }
  .scroll-to-top-2 {
    background-color: #007bff6e;
    
  }

  /* 向上懸浮標 */
  .scroll-to-top-3 {
    background-color: #007bff6e;
    
  }

  /* 向上懸浮標 */
  .scroll-to-top {
    background-color: #007bff6e;
    
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  background-color: #ffffff;
  border: 1px solid #8d8d8d;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  z-index: 9999;
}

/* 彈出視窗中的標籤樣式 */
.popup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}

/* 彈出視窗中的輸入元素樣式 */
.popup input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.popup textarea {
  min-width: 100%;
  resize: vertical;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-tow {
  display: flex;
  align-items: center;
}

/* 確定和取消按鈕的樣式 */
#confirm-button,
#cancel-button,
#cancelc-button,
#edit-product-cancel-button,
#edit-product-confirm-button{
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

#confirm-button,
#edit-product-confirm-button {
  background-color: #4CAF50;
  color: #fff;
  width: 40%;
  margin-right: 10px;
}

#confirm-button:hover,
#edit-product-confirm-button:hover {
  background-color: #45a049;
}

#cancel-button,
#cancelc-button,
#edit-product-cancel-button{
  background-color: #FF5733;
  color: #fff;
  width: 40%;
}

#cancel-button:hover,
#cancelc-button:hover,
#edit-product-cancel-button:hover {
  background-color: #e64d30;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .popup {
      width: 90%;
  }
}

.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 99999;
  }

/* 修改動畫視窗標題的樣式 */
.swal2-title {
	background-color: #ffffff;
	margin-bottom: 10px;
	/* 可添加其他樣式，如文字陰影、粗體等 */
  }
  

