tfoot tr {
    font-weight: bold;
    text-align: center;
}

.total-row {
    background-color: #f9f9f9;
    color: #333;
}

.total-row td:nth-of-type(1) {
    border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table,
    thead,
    tbody,
    tfoot,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border-bottom: 2px solid #ce1212;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        text-align: left !important;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        color: #000000;
        text-align: center;
    }

    .total-row td:nth-of-type(1) {
        border: 0;
    }

    tbody td:nth-of-type(1):before {
        content: "品項";
    }

    tbody td:nth-of-type(2):before {
        content: "單價";
    }

    tbody td:nth-of-type(3):before {
        content: "數量";
    }

    tbody td:nth-of-type(4):before {
        content: "小計";
    }

    .total-row {
        background-color: #ffffff;
        color: #000000;
    }
}